/* Custom page CSS
-------------------------------------------------- */

body  {
  padding: 63px 4px 0;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-position-y: 60px;
}

.float-left-block {
    float: left;
    display: block;
}

.sprint-range-filler {
  height: 220px;
}

.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.deselected {
  background-color: #9999DD;
  opacity: 0.0;
}

.selected {
  background-color: yellow;
  opacity: 0.3;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
}

.watched {
  background-color: FFFFdd;
}

.progress {
  margin-bottom: 2px;
  height: 40px;
  position: relative;
  background-color: #000000;
}

.progress-wrapper {
  position: relative;
}

.progress-overlay {
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 20px;
  height: 30px;
  overflow: hidden;
}

.tooltip {
  font-size: 18px;
}

table {
  width: 100%;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.min-padding {
    padding-left: 1px;
    padding-right: 1px;
}

.panel-title {
    font-size: 24px;
}

.opacity9 {
    opacity: 0.85;
}

